@mixin shadow {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}


@mixin hover {
  &:hover{
    transform: scaleX(1.05);
    transition: 200ms;
    cursor: pointer;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.70);;
    background-image: linear-gradient(to top, #d0b9f3, #f7b0da);
}
}

$font-roboto: "roboto", sans-serif;